<% include header %>
<div class="container">
            <div class="row">
                    <div class="col">
                        <h2>Összes áru</h2>
                    </div>
                </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Név</td>
                            <th scope="col">Mennyiség</td>
                            <th scope="col">Egységárr</td>
                            <th scope="col">Hol van készleten</td>
                        </tr>
                    </thead>
                    <tbody>
                    <% aru.forEach(function(egyAru){ %>
                    <tr>
                        <td>
                            <%= egyAru.name %>
                        </td>
                        <td>
                            <%= egyAru.count %>
                        </td>
                        <td>
                            <%= egyAru.unitPrice %>
                        </td>
                        <td>
                            <a href="/store/edititem/<%= egyAru._stockAddr %>/<%= egyAru._id%>" class="btn  btn-primary"><i
                                        class="far fa-edit"></i></a>
                            <a href="/store/deleteItem/<%= egyAru._stockAddr%>/<%= egyAru._id%>" class="btn btn-danger"><i
                                        class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!--gomb-->
            <div class="col">
                <a href="/store/view" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Boltok</a>
            </div>
        </div>

    </div>
<% include footer %>