<% include header%>
<div class="container">
<div class="row">
        <div class="col">
            <h2>Boltok</h2>
        </div>
    </div>
<div class="row">
<div class="col">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Cím</th>
                <th scope="col">Nyitvatartás</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% boltok.forEach(function(egyBolt){ %>
                <tr>
                    <td>
                        <a href="view/<%= egyBolt._id%>"><%= egyBolt.address%></a>
                    </td>
                    <td>
                        <%= egyBolt.open %>
                    </td>
                    
                    <td >
                        <a href="/store/edit/<%= egyBolt._id%>" class="btn btn-sm btn-primary"><i
                                    class="far fa-edit"></i></a>
                        <a href="/store/delete/<%= egyBolt._id%>" class="btn btn-sm btn-danger"><i
                                    class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</div>
<div class="row">
<!--gomb-->
<div class="col">
    <a href="/inventory" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Összes
        áru</a>
    <a href="/store/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Új bolt</a>
</div>
</div>

</div>
<% include footer %>